header, footer, main {
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
  background-color: #7ddc1f;
}
main {
  height: 500px;
  display: table;
}
.contact {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
address {
  width: 80%;
  margin: auto;
}
ul {
  padding: 0;
}
.box {
  display: inline-block;
  margin: 8px;
  width: 300px;
  height: 300px;
}
#me {
  margin: 1em;
  float: left;
}
