header, footer, main {
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
  background-color: #7ddc1f;
}
main {
  border-top: 1px solid black;
}
.contact {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
address {
  width: 80%;
  margin: auto;
}
img {
  max-width: 100%;
}
